.line-header-section{
    width: 100%;
    height: 5px;
    background-color: rgba(100, 100, 100, 0.2);
    margin: 30px 0;
    .line-color{
        width: 160px;
        height: 100%;
        background-color: sandybrown;
    }
}
.line-color{
    width: 160px;
    height: 100%;
    background-color: sandybrown;
}
