@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
html,body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.wrapper-home{
    width: 100%;
    height: 100vh;
    background: url('./img/home_main.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

}
.nav{

    display: flex;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    justify-content: center;
    background-color: #404040;
    z-index: 10000;
}
.nav-wrap{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    letter-spacing: 1px;
    color: #fff;
}

.menu ul{
    padding: 0;
}
.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}
.icon-search{
    align-items: center;
    color: seagreen;
}

/* home */

.home{
    width: 1170px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
.home .home-introduce{
    color: #fff;
    font-size: 60px;
    margin: 0;
    font-weight: 500;
}
.home .home-introduce-child{
    color: #fff;
    font-size: 60px;
    margin: 0;
    font-weight: 100;
 
}

.home .home-btn-down span{
    color: #fff;
    transform: rotate(90deg) translateY(-163%);
    margin-top: 50px;
    right: 0;
    position: absolute;
    color: #fff;
    background: url('/img/btn-down.png') no-repeat ;
}

.home .home-btn-down img{
    margin-top: 100px;
    position: absolute;
    right: 0;
}

/* about */
.wrapper-about{
    margin-bottom: 50px;
}
.about-top{
    position: relative;
    height: 620px;
}
.about-top-img{
    width: 50%;
    height: 100%;
    float: right;
    overflow: hidden;
}
.about-top img{
    width: 100%;
    height: 100%;
}
.about-top .top-wrap-content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);    
}
.about-top .about-top-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
}

.about-top-content .content-title{
    font-size: 48px;
    font-weight: 300;
    margin: 0 0 25px 0;
}
.about-top-content .content-title-line{
    width: 200%;
    height: 3px;
    background: rgba(50, 50, 50, .2);
    transform: translateX(-45%);
    margin-bottom: 30px;
}
.about-top-content .content-title-line .line-color{
    height: 100%;
    width: 160px;
    position: absolute;
    right: 38%;
    background-color: sandybrown;
}
.about-top-content .content-sup{
    font-size: 24px;
    margin: 0 0 25px 0;
}
.about-top-content .content-sup-child{
    margin: 0 0 35px 0;
}
.about-top-content .content-btn {
    background-color: #404040;
    color: springgreen;
}



.about-bot{
    position: relative;
    overflow: hidden;
    height: 620px;
    background-size: cover;
}
.about-bot-img{
    width: 50%;
    height: 100%;
    float: right;
    background-color: rgba(25, 25, 25, 0.2);
}
.bot-wrap-content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);    
}

/* .about-bot .about-bot-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
    float: right;
}

.about-bot-content .content-title{
    font-size: 48px;
    font-weight: 300;
    margin: 0 0 25px 0;
    color: #FFF;
}
.about-bot-content .content-title-line{
    width: 200%;
    height: 3px;
    background: rgba(200,200,200,.3);
    transform: translateX(-12.5%);
    margin-bottom: 30px;
}
.about-bot-content .content-title-line .line-color{
    height: 100%;
    width: 160px;
    position: absolute;
    left: 12%;
    background-color: sandybrown;
}
.about-bot-content .content-sup{
    margin: 0 0 35px 0;
    color: #fff;
    font-weight: 100;
}

.about-bot-content .content-btn {
    background-image: linear-gradient(to right , #C9923C,#D9B177);
    color: #fff;
} */

/* book */



/* .book .book-wrapper .book-title-line .line-color{
    width: 160px;
    height: 100%;
    background-color: sandybrown;   
} */
/* .book-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

/* .book-item{
    width: 270px;
    height: 340px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 20px;
    margin: 0 15px;
    position: relative;
} */
/* .book-item .book-item-img{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    height: 210px;
    overflow: hidden;
}
.book-item .book-item-name{
    font-size: 14px;
    margin: 0;
}
.book-item .book-item-price {
    font-size: 14px;
    margin: 0;
    color: rgb(238, 132, 70);
} */
/* .book-item .book-item-buy {
    height: 100%;
    width: 160px;
    position: absolute;
    left: 12%;
    background-color: sandybrown;
} */
/* .book-item .book-item-buy{
    position: absolute;
    bottom: -10px;
    right: 20px;
    height: 30px;
    border-radius: 20px;
    border: none;
    width: 80px;
    font-size: 12px;
} */
/* .book-item .book-item-buy.active{

    background-image: linear-gradient(to right , #C9923C,#D9B177);
    color: #fff;
} */

/* general */
.container{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.btn{
    width: 200px;
    text-align: center;
    padding: 15px 0;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
}
